<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.ecoprimals.{{PRIMAL_NAME}}</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>{{BINARY_PATH}}</string>
        {{START_ARGS_ARRAY}}
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/{{PRIMAL_NAME}}.log</string>
    
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/{{PRIMAL_NAME}}.error.log</string>
    
    <key>WorkingDirectory</key>
    <string>{{DATA_DIR}}</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>RUST_LOG</key>
        <string>{{RUST_LOG}}</string>
        <key>{{PRIMAL_NAME_UPPER}}_CONFIG</key>
        <string>{{CONFIG_DIR}}/config.toml</string>
    </dict>
    
    <key>UserName</key>
    <string>{{SERVICE_USER}}</string>
    
    <key>GroupName</key>
    <string>{{SERVICE_GROUP}}</string>
    
    <key>Nice</key>
    <integer>0</integer>
    
    <key>ProcessType</key>
    <string>Standard</string>
    
    <key>ThrottleInterval</key>
    <integer>5</integer>
</dict>
</plist>

